@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* ::selection {
  color: white;
  background: #0CD;
}

body {
  background: #1c1c1c;
  overflow: hidden;
}

#editor {
  height: calc(50vh - 30px);
  margin-top: 30px;
  width: 100vw;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  font-family: "JetBrains Mono";
}

#browser-wrap {
  width: 100vw;
  height: 50vh;
  min-width: 300px;
  min-height: 300px;
  display: block;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 1.5em;
  overflow: hidden;
  padding: 0px;
}

/* Container for columns and the top "toolbar" */
.row {
  padding: 10px;
  background: #f1f1f1;
  border-bottom: 3px solid #0CD;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 15%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
input[type=text] {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
  font-size: 20px;
  outline: none;
  font-family: "JetBrains Mono", monospace;
}

input[type=text]:hover {
  text-decoration: underline;
}

/* Three bars (hamburger menu) */
.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

/* Page content */
#browser {
  padding: 10px;
  width: 100%;
  height: calc(100% - 48px);
  border: none;
  padding: 0px;
  background: #fff;
}

button {
  width: 16.6vw;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: #1f1f1f; /* #f92672 */
  font-size: 20px;
  border: 1px solid #fff;
}

button:hover,
button:active {
  color: #000000;
  background: #ffffff;
}

.div {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  background: #000000;
}

svg {
  width: 15px;
  height: 15px;
}

#big {
  width: 18px;
  height: 18px;
}

dialog {
  padding: 20px;
  margin: auto;
}

dialog::backdrop {
  background: #ffff00;
}

.code {
  width: calc(90vw - 40px);
  height: 50vh;
}

a {
  color: blue;
  text-decoration: none;
}

select,
input {
  width: 100%;
  font-size: 30px;
}

.console-log-div {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  width: 50vw;
  height: 30vh;
  background-color: #efefef;
  display: block;
  overflow: auto;
}

@media only screen and (min-width: 600px) {
  #editor {
    height: calc(100vh - 30px);
    margin-top: 30px;
    width: 50vw;
  }
  
  #browser-wrap {
    position: absolute;
    height: 100vh;
    top: 0px;
    right: 0px;
    width: 50vw;
  }
  
  button {
    width: 8.33vw;
  }
}
